.container {
  width: 24%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.profile-container {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-title {
  font-weight: 600;
  color: var(--secondary-dark);
  font-size: 22px;
  margin: 0;
  text-align: left;
  padding-left: 8%;
}

.profile-subtitle {
  font-family: "JetBrains Mono", monospace;
  font-weight: 300;
  color: var(--subtext-color);
  font-size: 15px;
  margin: 0;
  text-align: left;
  padding-left: 8%;
}
