/* header */

.full-container {
  max-width: 1920px;
  padding: 15px 20px;
  color: var(--primary-dark);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  display: block;
  height: 32px;
  cursor: pointer;
}

.nav-links li {
  display: inline-block;
  padding: 0 50px;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
}

/* header end */

/* main content */

.main-content {
  height: 90vh;
  color: var(--primary-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.main-content p {
  padding-bottom: 20px;
}

/* main content end */

/*login page*/

.login-section {
  margin: 7%;
}

.login-block {
  height: 100%;
  width: 45%;
  background-color: white;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 8px;
  box-shadow: 0 3px 5px 0 rgba(240, 240, 240, 0.3);
}

.login-block p {
  margin: 10px 0;
}

.login-block h2 {
  padding: 30px 0 10px 0;
}

.login-form table {
  width: 60%;
}

td {
  text-align: center;
}

.form-label {
  color: rgb(44, 44, 44);
  text-align: left;
  font-size: 14px;
}

.label-td {
  text-align: left;
  padding-top: 10px;
}

.login-btn {
  margin-bottom: 15px;
  width: 100%;
}

.form-label {
  color: rgb(44, 44, 44);
  text-align: left;
  font-size: 14px;
}

.hover-link1 {
  font-weight: bold;
}

.hover-link1:hover {
  opacity: 0.8;
  transition: 0.5s;
}

/* login page end*/

/* signup page */

.td-btn {
  margin: 2px;
}

.td-btn input {
  margin: 15px 0;
  width: 98%;
}
/* signup page end */
